.container {
  position: fixed;
  width: 58.3vw;
  height: 11vh;
  top: 85vh;
  left: 20.8vw;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #b3b3b380;
  background-color: #ffffff;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cursor {
  border-top-left-radius: 1rem;
  background-color: #9747ff;
}

.hand {
  height: 2.3rem;
  display: flex;
  align-items: center;
  border-right: 1px solid #b3b3b380;
  fill: #000c;
}

.design {
  height: 10.8vh;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-bottom: 15vh;
  gap: 0.5rem;
}

.maker {
  width: 5vw;
  height: 22vh;
}

.maker:hover {
  transform: translateX(0px) translateY(-0.80rem) scale(1) translateZ(0px);
  transition: .2s;
}

.pencil {
  margin-bottom: -1rem;
  filter: drop-shadow(0px -5px 24px rgba(0,0,0,.08)) drop-shadow(0px -2px 10px rgba(0,0,0,.04)) drop-shadow(0px -1px 4px rgba(0,0,0,.08));;
}

.up1 {
  margin-left: -0.7vw;
  margin-bottom: 8vh;
}

.up1:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}

.ellipse:hover {
  transform: translateY(-0.80rem);
  transition: 0.2s;
}

.circle {
  margin-bottom: -1rem;
}

.up2 {
  margin-left: -0.3vw;
  margin-bottom: 8vh;
}

.up2:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}

.sheets:hover {
  transform: translateY(-0.80rem);
  transition: 0.2s;
}

.sheet {
  margin-left: 0.7rem;
  margin-bottom: -1rem;
}

.up3 {
  margin-left: -0.1vw;
  margin-bottom: 8vh;
}

.up3:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}